<mat-accordion style="margin: 20px;">
    <mat-expansion-panel *ngFor="let recipe of recipeList" (click)="recipeClicked(recipe.id)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{recipe.title}}
            </mat-panel-title>
            <mat-panel-description>
                {{recipe.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-recipe-detail [recipe]="recipe">
        </app-recipe-detail>
    </mat-expansion-panel>
</mat-accordion>