div {
    min-width: 800px;
}

mat-expansion-panel {
    width: 100%;
}

mat-panel-title {
    font-weight: 500;
    font-size: 1.2em;
}

mat-form-field {
    width: 100%;
}

mat-form-field button {
    margin-bottom: 20px;
}

mat-form-field input {
    font-weight: 400;
    font-size: 1.2em;
}
