<h1>Ingredients:</h1>
<div *ngFor="let ingredient of recipe.ingredients">
  <li style="margin-left: 18px">{{ingredient.quantity}} {{ingredient.ingredient.name}}</li>
</div>

<h1>Steps:</h1>
<div *ngFor="let step of recipe.steps">
  <p style="width: 750px;">
    {{step.stepNum}}. {{step.text}}
  </p>
</div>

<mat-action-row *ngIf="auth.checkAuth()">
  <button mat-raised-button color="primary" *ngIf="recipe.isAuthor(auth.getId())">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-raised-button [color]="getSaveColor()" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>comment</mat-icon>
  </button>
  <button mat-raised-button [color]="getVoteColor(1)" (click)="vote(1)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button mat-raised-button [color]="getVoteColor(-1)" (click)="vote(-1)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</mat-action-row>