<h1>Ingredients:</h1>
<div *ngFor="let ingredient of recipe.ingredients">
  <li style="margin-left: 18px">{{ingredient.ingredient.name}} - {{ingredient.quantity}}</li>
</div>

<h1>Steps:</h1>
<div *ngFor="let step of recipe.steps">
  <p style="width: 750px;">
    {{step.stepNum}}. {{step.text}}
  </p>
</div>

<mat-action-row>
  <button mat-raised-button matTooltip="Edit Recipe" color="primary" *ngIf="recipe.isAuthor(auth.getId())" (click)="openEditor()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-raised-button matTooltip="Save Recipe" [color]="getSaveColor()" *ngIf="auth.checkAuth()" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-raised-button matTooltip="View Comments" color="primary" (click)="openComments()">
    <mat-icon>comment</mat-icon>
  </button>
  <button mat-raised-button matTooltip="Upvote" [color]="getVoteColor(1)" (click)="vote(1)">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <p>{{recipe.voteCount}}</p>
  <button mat-raised-button matTooltip="Downvote" [color]="getVoteColor(-1)" (click)="vote(-1)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</mat-action-row>

<p class="recipe_author">{{recipe.author.name}} on {{recipe.timestamp | date:'medium':'-0500'}}</p>