<h1 class="mat-display-1">{{pageTitle}}</h1>
<div class="form">
    <mat-form-field>
        <input matInput type="text" placeholder="Recipe Title" [(ngModel)]="title">
    </mat-form-field>
</div>
<div class="form">
    <mat-form-field>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5" placeholder="Recipe Description" [(ngModel)]="description">
        </textarea>
    </mat-form-field>
</div>

<div class="form">
    <h1 class="mat-display-1 ingredient-header">Ingredients</h1>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [completed]="appliedIngredients.length > 0">
            <ng-template matStepLabel>Input your ingredients:</ng-template>
            <div *ngIf="(allIngredientsReady) || (updatedRecipe == null)">
                <app-chip-autocomplete [placeholder]="ingredientPlaceholder" [(appliedChips)]="appliedIngredients"
                    [(allChips)]="allIngredients">
                </app-chip-autocomplete>
            </div>
            <div>
                <button mat-raised-button color="accent" matStepperNext (click)="updateIngredients()">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Input your ingredient amounts:</ng-template>
            <mat-form-field *ngFor="let ingredient of ingredients">
                <input matInput type="text" [placeholder]="ingredient.ingredient.name" [(ngModel)]="ingredient.quantity"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </mat-step>
    </mat-vertical-stepper>
</div>

<div class="form">
    <div class="steps-header">
        <h1 class="mat-display-1">Steps</h1>
        <div>
            <button mat-raised-button color="primary" (click)="addStep()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="removeStep()">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
    <mat-form-field *ngFor="let step of steps; let i = index;">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
            placeholder="Step {{i + 1}}" [(ngModel)]="step.text">
        </textarea>
    </mat-form-field>
</div>

<div class="form">
    <h1 class="mat-display-1 tag-header">Tags</h1>
    <div *ngIf="(allTagsReady && appliedTagsReady) || (updatedRecipe == null)">
        <app-chip-autocomplete [placeholder]="tagPlaceholder" [(appliedChips)]="appliedTags" [(allChips)]="allTags">
        </app-chip-autocomplete>
    </div>
</div>

<div class="form">
    <button mat-raised-button color="primary" (click)="addRecipe()">Submit Recipe</button>
    <button mat-raised-button color="primary" (click)="deleteRecipe()" *ngIf="updateRecipe !== null">Delete
        Recipe</button>
</div>