<h1 class="mat-display-1">{{pageTitle}}</h1>
<div class="form">
  <mat-form-field>
    <input matInput type="text" placeholder="Recipe Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field>
    <mat-chip-list #tagList>
      <mat-chip>Temp</mat-chip>
    </mat-chip-list>
    <input matInput type="text" placeholder="Recipe Tags" [(ngModel)]="tags" [matChipInputFor]="tagList">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
      placeholder="Step {{i + 1}}" placeholder="Recipe Description" [(ngModel)]="description">
    </textarea>
  </mat-form-field>
</div>
<div class="steps-header">
  <h1 class="mat-display-1">Steps</h1>
  <div>
    <button mat-raised-button color="primary" (click)="addStep()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="removeStep()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
<div class="form">
  <mat-form-field *ngFor="let step of steps; let i = index;">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
      placeholder="Step {{i + 1}}" [(ngModel)]="step.text">
    </textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Submit Recipe</button>
</div>