mat-toolbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;
}

mat-sidenav-container {
    height: 100%;
}

mat-drawer {
    width: 300px;
    height: 100%;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}
