<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <button mat-raised-button type="button" color="primary" (click)="drawer.toggle()">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <span style="margin-left: 20px; margin-right: 20px;">RecipIO</span>
        </div>
        <div>
            <button mat-raised-button color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-drawer #drawer mode="over">
        <mat-action-list>
            <button mat-list-item (click)="drawer.toggle()" routerLink="/allRecipes">All
                Recipes</button>
            <div *ngIf="!auth.checkAuth()">
                <button mat-list-item (click)="drawer.toggle()" routerLink="/login">Login</button>
                <button mat-list-item (click)="drawer.toggle()" routerLink="/registration">Create an Account</button>
            </div>
            <div *ngIf="auth.checkAuth()">
                <button mat-list-item (click)="drawer.toggle()" routerLink="/savedRecipes">Saved
                    Recipes</button>
                <button mat-list-item (click)="auth.logout(); drawer.toggle();" routerLink="/allRecipes">Logout</button>
            </div>
        </mat-action-list>
    </mat-drawer>
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>