<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-raised-button type="button" color="primary" (click)="drawer.toggle()">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <span style="margin-left: 20px; margin-right: 20px;">RecipIO</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-drawer #drawer mode="over">
        <mat-action-list>
            <button mat-list-item (click)="drawer.toggle()" routerLink="/recipeList">View Recipies</button>
            <button mat-list-item (click)="drawer.toggle()" routerLink="/login">Login</button>
            <button mat-list-item (click)="drawer.toggle()" routerLink="/registration">Create an Account</button>
        </mat-action-list>
    </mat-drawer>
    <div style="width: 100%; display: flex; justify-content: center;">
        <router-outlet></router-outlet>
    </div>


</mat-sidenav-container>