<div class="commentWrapper">
    <div class="comment-list-header">
        <h1>Comments: </h1>
        <button mat-raised-button matTooltip="New Comment" color="accent"
            (click)="createCommentFlag = !createCommentFlag">
            <mat-icon>add_comment</mat-icon>
        </button>
    </div>
    <div class="new-comment-form" *ngIf="createCommentFlag">
        <mat-form-field class="comment-text-form" appearance="outline">
            <textarea matInput [(ngModel)]="createCommentText" name="comment-text"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="createComment()" color="accent">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div *ngFor="let comment of commentList">
        <app-comment-detail [comment]="comment" [recipe]="recipe" (deleted)="deleteComment()"></app-comment-detail>
    </div>
</div>